body {
	font-family: Arial, Helvetica, sans-serif;
	background: url(bg.jpg);
	background-color: transparent;
}

h1 {
	text-align: center;
	color: #050000;
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: url(bg.jpg) no repeat;
	background-color: transparent;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(14, 1, 1, 0.1);
}

input[type="text"],
input[type="text"],
input[type="password"],
select,
textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}


select {
	width: 100px;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	background-color: #fff;
	appearance: none;
}

textarea {
	resize: vertical;
}

input[type="submit"],
input[type="checkbox"] {
	background-color: #06db1f;
	color: #030000;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

input[type="reset"],
input[type="checkbox"] {
	background-color: #f94433;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}



input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="checkbox"]:hover {
	background-color: transparent;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}